* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding: 0px 0px 0px;
    background-color: #141414;
    position: relative;
}

header {
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 16px 5%;
    font-size: 12px;
}

header img {
    height: 28px;
}

header a {
    text-decoration: none;
    color: white;
    margin-left: 16px;
}
  
header button {
    background: none;
    color: white;
    border: none;
    margin-right: 16px;
  }

nav {
    display: flex;
    align-items: center;
}
  
nav ul {
    list-style: none;
}
  
nav li {
    display: inline-block;
}
  
nav + nav {
    margin-left: auto;
}
  
.search {
    margin-left: auto;
}
  
.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 4px;
  }

.feature {
    width: 100%;
    text-align: center;
}

.feature h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.feature p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.feature video {
    position: fixed;
    right: 0;
    bottom: 0;
    max-height: calc(100vh - 120px);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.video-player {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.carousel {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: 0;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }

.poster-container {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding: 20px;
}

.poster {
    cursor: pointer;
    text-align: center;
    transition: transform 0.3s;
    font-size: 1rem;
}

.poster img {
    width: 150px;
    border-radius: 10px;
    height: 230px;
}

.poster:hover {
    transform: translateY(-20px)
}
