* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 0px 0px;
}

.feature {
    width: 100%;
    text-align: center;
}

.feature h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.feature p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.feature video {
    position: fixed;
    right: 0;
    bottom: 0;
    max-height: calc(100vh - 120px);
    min-width: 100%;
    min-height: 100%;
}

.video-player {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.carousel {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: 0;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }

.poster-container {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding: 20px;
}

.poster {
    cursor: pointer;
    text-align: center;
    transition: transform 0.3s;
    font-size: 1rem;
}

.poster img {
    width: 150px;
    border-radius: 10px;
}

.poster:hover {
    transform: translateY(-20px)
}
